.fonts{
  font-size: 25px;
  margin-left: 0;
} 

.App {
  display: flex;
  justify-content: center;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user {
  margin-top: 50px;
  box-shadow:  0 0 10px rgba(35, 100, 153, 0.849);
  padding: 20px;
  border-radius: 10px;
}

.btn {
  background-color: rgb(194, 51, 63);
  color: white;
  height: 50px;
  width: 165px;
  /* margin-left: 25px; */
  margin-right: 41px;
  margin-top: 26px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.btn__login:hover,
.btn:focus{
  background-color: rgb(224, 60, 74)
}

.btn__login {
  background-color:rgb(86, 175, 163);
}
.btn__login:hover,
.btn__login:focus{
  background-color: rgb(105, 214, 200);
}

.redirect-button{
  background-color:rgba(35, 100, 153, 0.849)
}


.user__item {
  font-size: 20pt;
}


.input {
  height: 28px;
  font-size: 20pt;
  margin-top: 5px;
  border-radius: 5px;
}

.select {
  height: 52px;
  width: 380px;
  outline: none;
  border-radius: 3px;
  /* border: none; */
  font-size: 20px;
  margin-top: 10px;
}

.check {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.checkbox{
  display: flex;
  transform:scale(2.0);
  opacity:0.9;
  cursor:pointer;
  margin-right: 10px;
  
}

.check__title{
  font-size: 18pt;
}